* @sstenchlak

# client application
/applications/client/ @sstenchlak

# packages
/packages/backend-utils/ @sstenchlak

/packages/core/ @sstenchlak
/packages/core/src/sgov/ @sstenchlak
/packages/core/src/json-schema/ @sstenchlak
/packages/core/src/plant-uml/ @sstenchlak
/packages/core/src/xml/ @cermakmarek
/packages/core/src/xml-schema/ @cermakmarek
/packages/core/src/xml-transformations/ @cermakmarek
/packages/core/src/csv-schema/ @JanJanda

/packages/federated-observable-store/ @sstenchlak
/packages/federated-observable-store-react/ @sstenchlak

# services
/services/backend/ @sstenchlak
