# Files
.*
*.iml
*.log
!.gitignore
!.gitkeep
!.npmrc
!.dockerignore
!.devcontainer

# Directories
lib/
data/
node_modules/
!.github/

# All package-locks except root
**/package-lock.json
!package-lock.json