
.entity-node {
  background-color: white;
}

.entity-node .react-flow__handle {
  /* We only need the position in the layout. */
  visibility: hidden;
}

.entity-node.selected {
  background-color: rgba(238, 58, 115, 1) ;
}

/* We need to move the source and target to the center of the node. */
.entity-node .react-flow__handle.source,
.entity-node .react-flow__handle.target {
  top: 50%;
  right: 50%;
  transform: none;
}

.entity-node-toolbar {
  user-select: none;
}

.entity-node-toolbar .react-flow__handle.source {
  position: initial;
  background-color: transparent;
}

.entity-node-toolbar > button {
  font-size: 1.35em;
}

.drag-handle {
  pointer-events: all;
}
