
  .node-secondary-menu {
    display: grid;
    place-content: center;
    grid-area: 1/1;
    width: 0;
    height: 0;
    position: absolute;
     /* Variables. */
    --btn-size: 2em;
    --extra-space: 1em;
  }

  .node-secondary-menu button {
    border-radius: 50%;
    width: var(--btn-size);
    height: var(--btn-size);
    font-size: 1.35em;
  }

  .node-secondary-menu ul {
    position: absolute;
  }

  .node-secondary-menu ul {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .node-secondary-menu ul,
  .node-secondary-menu li {
    display: grid;
    /* place-content: center; */
    grid-area: 1/1;
    --radius: calc(var(--btn-size) + var(--extra-space));
    transform: translateX(calc(cos(var(--angle)) * var(--radius))) translateY(calc(sin(var(--angle) * -1) * var(--radius)));
  }

  .node-secondary-menu li:nth-child(1) {
    --angle: 0deg;
  }

  .node-secondary-menu li:nth-child(2) {
    --angle: 60deg;
  }

  .node-secondary-menu li:nth-child(3) {
    --angle: 120deg;
  }

  .node-secondary-menu li:nth-child(4) {
    --angle: 180deg;
  }
  .node-secondary-menu li:nth-child(5) {
    --angle: 240deg;
  }