/* Taken from somewhere, can't find the source anymore */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.cube {
	margin-left: 10px;
	margin-right: 10px;
  position: relative;
	min-width: 100px;
  height: 100px;
  transform: rotateX(-5deg) rotateY(15deg);
  transform-style: preserve-3d;
}

.face {
  position: relative;
	min-width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: transparent;
}

.front  { width: 100%; transform: translateZ(50px); }
.back   { transform: translateZ(-50px); }
.left   { border-right: 8px solid black; width: 100px; transform: rotateY(90deg) translateZ(-50px) translateY(-200px)}
.right  { transform: rotateY(90deg) translateZ(50px); }
.top    { border-top: 24px solid black; border-right: 8px solid black; width: 100%; transform: rotateX(90deg) translateZ(150px); }
.bottom { transform: rotateX(90deg) translateZ(-50px); }

.react-flow__handle.source {
  position: initial;
  background-color: transparent;
}

.react-flow__handle {
  /* We only need the position in the layout. */
  visibility: hidden;
}

.grouped-node {
	position: relative;
	background: #ffffff; /* Base background */
	border-radius: 12px;
	padding: 20px;
	box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15), /* Soft inset */
							inset -5px -5px 15px rgba(0, 0, 0, 0.1); /* Light inset */
}

/* Add a gradient shadow using ::before */
.grouped-node::before {
	content: "";
	position: absolute;
	top: -10px; left: -10px; right: -10px; bottom: -10px;
	background: linear-gradient(135deg, rgba(50, 120, 255, 0.4), rgba(255, 255, 255, 0));
	border-radius: 16px; /* Slightly bigger than the node */
	z-index: -1;
	filter: blur(10px); /* Soft glow effect */
}



.visual-model-diagram-node .react-flow__handle {
  /* We only need the position in the layout. */
  visibility: hidden;
}

/* We need to move the source and target to the center of the node. */
.visual-model-diagram-node .react-flow__handle.source,
.visual-model-diagram-node .react-flow__handle.target {
  top: 50%;
  right: 50%;
  transform: none;
}

.drag-handle {
  pointer-events: all;
}
