{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/tutorial/start/" role="button">Read the documentation</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-start">
        <div class="col-lg-8">
          <h2 class="h4">Your domain ontology<br>to data schemas easily</h2>
          <p>
            Use your own domain ontology to easily create data schemas in different formats such as XML, JSON, CSV.
            All this without the need to write any code. The tool understands the structure of your data and suggests
            the correct entities to use.
          </p>
        </div>
        <div class="col-lg-8 d-flex justify-content-center">
          {{ $diagramLight := resources.Get "images/diagram-light.png" }}
          <img src="{{ $diagramLight.RelPermalink }}" style="max-width: 25rem; width: 100%;" class="light-only img-fluid">
          {{ $diagramDark := resources.Get "images/diagram-dark.png" }}
          <img src="{{ $diagramDark.RelPermalink }}" style="max-width: 25rem; width: 100%;" class="dark-only img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm mt-4">
    <div class="container">
      <div class="row justify-content-center text-lg-end">
        <div class="col-lg-8 order-lg-2">
          <h2 class="h4">With data transformations,<br>documentation, plantUML,<br>diagrams, and more...</h2>
          <p>
            We intend to create a tool that can generate transformation scripts converting data between different data
            schemas and serialization technologies, generate Bikeshed documentation with examples, images, and
            descriptions, small webapps working with the data, and many other things.
          </p>
        </div>
        <div class="col-lg-8 order-lg-1 d-flex justify-content-center">
          {{ $technologiesLight := resources.Get "images/technologies-light.png" }}
          <img src="{{ $technologiesLight.RelPermalink }}" style="max-width: 25rem; width: 100%;" class="light-only img-fluid">
          {{ $technologiesDark := resources.Get "images/technologies-dark.png" }}
          <img src="{{ $technologiesDark.RelPermalink }}" style="max-width: 25rem; width: 100%;" class="dark-only img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm mt-4">
    <div class="container">
      <div class="row justify-content-center text-lg-center">
        <div class="col-lg-5">
          <h2 class="h4">Presented as a demo at ESWC 2022</h2>
          <p>
            Our paper "DataSpecer: A Model-Driven Approach to Managing Data Specifications" was presented at the
            ESWC 2022 conference.
          </p>
        </div>
        <div class="col-lg-6">
          <h2 class="h4">Already used in Czechia</h2>
          <p>
            The tool is tested and in use by the Ministry of the Interior of the Czech Republic to create recommendations for publishing open data based on the Semantic Government Vocabulary (SGOV).
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Actively developed at Charles University ⚡</h2>
          <p>We have six active researchers/developers at the Faculty of Mathematics and Physics, Charles University, who are involved in the development of the tool.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
