.node-highlight-classic {
  outline: rgb(0, 0, 0, 0);
}

.node-highlight-classic-animation {
  transition: opacity 1s;
}

.node-highlight-opposite {
  outline: rgb(0, 0, 0, 0);
  opacity: 0.3;
}

.node-highlight-opposite-animation {
  transition: opacity 2s;
}

.node-highlight-main {
  outline: 0.25em solid rgba(238, 58, 115, 1);
}

.node-highlight-main-animation {
  transition: outline-color 1.5s;
}

.node-highlight-secondary {
  outline: 0.25em solid rgba(0, 0, 0, 1);
}

.node-highlight-secondary-animation {
  transition: outline-color 1.5s;
}
