name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'www/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dataspecer/www

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: dataspecer
          password: ${{ secrets.GHCR_DATASPECER }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ./www
          file: ./www/Dockerfile
          push: true
          tags: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest
